{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "linebreak-style": "off",
    "global-require": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }]
  },
  "env": {
    "jest": true
  }
}
